* {
  margin: 0;
  padding: 0;
  font-family: Sailec-Medium, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:root {
  --grey: #5b6987;
  --blue: #0069ff;
  --hr: #e5e8ed;
  --darkBlue: #031b4e;
  --green: #00b47b;
  --inputBorder: #f1f1f1;
  --royalBlue: #1633ff;
  --btnSignupAlternateBg: #f2f8ff;
  --btnSignupAlternateBorder: #0069ff33;
  --lightGrey: #031b4eb3;
  --lightPink: #9cb0cb;
  --categoryBorder: #eeb7ba;
  --darkBlueCategoryLihover: #031b4e80;
  --developersBg: #f3f5f9;
  --lightBlue: #005fe6;
}
header {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px silver;
  position: fixed;
}
header .topBar {
  width: 95%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--grey);
}
.topBar .links {
  height: inherit;
  width: 245px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBar a {
  color: var(--grey);
  text-decoration: none;
}
.topBar a:hover {
  color: var(--blue);
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header li {
  list-style-type: none;
}
.hr {
  width: 100%;
  border-top: 1px solid var(--hr);
}
.navBar {
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 790px;
}
nav li {
  font-size: 14px;
  font-weight: 600;
  color: var(--darkBlue);
}
nav li a {
  color: inherit;
  text-decoration: none;
}
nav li a:hover {
  color: var(--blue);
}
button {
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}
#btnSignUp {
  width: 88px;
  height: 35px;
  background-color: white;
  border: 1px solid var(--blue);
  color: var(--blue);
  transition: 0.3s;
}
#btnSignUp:hover {
  background-color: var(--blue);
  color: white;
}
main {
  height: 730px;
  width: 100%;
  background-image: url(images/bg-home-1-d54581d7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content {
  height: 620px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.content a {
  width: 100%;
  height: 42px;
  border-radius: 5px;
  background-color: var(--green);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
#bold {
  font-weight: 500;
}
.mainHeadingForm {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .mainHeading {
  height: 320px;
  width: 530px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}
.mainHeading h1 {
  font-size: 62px;
  line-height: 73px;
  font-weight: 700;
}
.mainHeading p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
.mainCol {
  height: 540px;
  width: 475px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainCol .content {
  height: 470px;
  width: 415px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.mainCol h1 {
  font-weight: 650;
}
form {
  width: 410px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
input {
  width: 411px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--inputBorder);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #031b4eb3;
  padding-left: 10px;
}
#createYourAccount {
  width: 410px;
  height: 50px;
  background-color: var(--blue);
  color: white;
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  transition: 0.15s;
}
#createYourAccount:hover {
  background-color: var(--royalBlue);
}
.mainCol .mainRow {
  width: 415px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainRow .hr {
  width: 130px;
  height: 0px;
  border: 1px solid var(--inputBorder);
}
#btnSignupAlternate {
  width: 195px;
  height: 48px;
  background-color: var(--btnSignupAlternateBg);
  border: 1px solid var(--btnSignupAlternateBorder);
  font-size: 16px;
  line-height: 48px;
  font-weight: 500;
  color: var(--darkBlue);
}
.mainCol p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--lightGrey);
}
.businessTrust {
  height: 280px;
  width: 100%;
  background-color: var(--btnSignupAlternateBg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.businessTrust .contentArea {
  width: 80%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.businessTrust h4 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #bcc2d2;
}
.businessTrustRow {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.businessTrustRow img {
  height: 77px;
  width: 150px;
}
#slack {
  width: 130px;
  height: 80px;
}
#gitLab {
  width: 100px;
  height: 80px;
}
#splunk {
  width: 100px;
  height: 40px;
}
.businessTrust p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--blue);
}
.businessTrust a {
  color: inherit;
  text-decoration: none;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 36px;
  line-height: 45px;
  color: var(--darkBlue);
}
h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 450;
  color: var(--lightGrey);
  text-align: center;
}
.deploy {
  width: 100%;
  height: 790px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.deploy #des {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 4em;
}
.deploy .contentArea {
  width: 870px;
  height: 385px;
  display: flex;
  justify-content: space-between;
}
.deploy .category {
  width: 270px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.category li {
  height: 50px;
  width: 270px;
  list-style-type: none;
  border-left: 2px solid var(--categoryBorder);
  padding-left: 2em;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 16px;
  font-weight: 600;
  color: var(--darkBlueCategoryLihover);
}
.category a {
  text-decoration: none;
  color: inherit;
  transition: 0.15s;
}
.category a:hover {
  color: var(--darkBlue);
}
.deploy .description {
  width: 575px;
  height: 420px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.descriptionRow {
  width: 575px;
  height: 210px;
  display: flex;
  justify-content: space-between;
}
.descriptionRow .descriptionCol {
  height: 200px;
  width: 285px;
  display: flex;
  flex-direction: column;
}
.descriptionCol img {
  height: 40px;
  width: 40px;
}
.descriptionCol h4 {
  font-size: 18px;
  line-height: 23px;
  color: var(--darkBlue);
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.descriptionCol p {
  font-size: 16px;
  line-height: 24px;
}
.developers {
  height: 800px;
  width: 100%;
  background-color: var(--developersBg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.developers #des {
  width: 60%;
  margin-top: 1em;
  margin-bottom: 4em;
}
.developers img {
  height: 477px;
  width: 736px;
}
.developers p {
  width: 40%;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  margin-top: 1em;
  color: var(--lightGrey);
}
.business {
  height: 630px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.developersRow {
  height: 280px;
  width: 85%;
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}
.developersCol {
  width: 230px;
  height: 280px;
  display: flex;
  flex-direction: column;
}
.developersCol img {
  height: 40px;
  width: 40px;
}
.developersCol h4 {
  font-size: 18px;
  line-height: 27px;
  color: var(--darkBlue);
  margin-top: 1em;
  margin-bottom: 1em;
}
.developersCol p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--lightGrey);
  margin-bottom: 1em;
}
.developersCol a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--lightBlue);
  text-decoration: none;
}
.dataCenters {
  height: 640px;
  width: 100%;
  background: #031b4e url(images/data-center-map-20321538.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dataCenters h1 {
  color: white;
  width: 55%;
  text-align: center;
}
.dataCentersRow {
  height: 235px;
  width: 85%;
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}
.dataCentersCol {
  height: 235px;
  width: 565px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dataCentersCol .row {
  height: 40px;
  width: 537px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.dataCentersCol h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #3c4f76;
}
.row .leftSec {
  width: 250px;
  display: flex;
}
.dataCentersCol a {
  color: #00d7d2;
  text-decoration: none;
}
.dataCentersCol a:hover {
  color: var(--lightBlue);
}
#white {
  color: white;
  font-weight: 800;
  margin-right: 2em;
}
.developmentTeams{
  height: 817px;
  width: 100px;
  background-color: var(--developersBg);
}
